In [25]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [26]:
df1 = pd.read_json("brands.json", lines=True)

In [84]:
df2 = pd.read_json("receipts.json", lines=True)

In [28]:
df3 = pd.read_json("users.json", lines=True)

In [29]:
pd.io.json.build_table_schema(df1)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': '_id', 'type': 'string'},
  {'name': 'barcode', 'type': 'integer'},
  {'name': 'category', 'type': 'string'},
  {'name': 'categoryCode', 'type': 'string'},
  {'name': 'cpg', 'type': 'string'},
  {'name': 'name', 'type': 'string'},
  {'name': 'topBrand', 'type': 'number'},
  {'name': 'brandCode', 'type': 'string'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [30]:
pd.io.json.build_table_schema(df2)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': '_id', 'type': 'string'},
  {'name': 'bonusPointsEarned', 'type': 'number'},
  {'name': 'bonusPointsEarnedReason', 'type': 'string'},
  {'name': 'createDate', 'type': 'string'},
  {'name': 'dateScanned', 'type': 'string'},
  {'name': 'finishedDate', 'type': 'string'},
  {'name': 'modifyDate', 'type': 'string'},
  {'name': 'pointsAwardedDate', 'type': 'string'},
  {'name': 'pointsEarned', 'type': 'number'},
  {'name': 'purchaseDate', 'type': 'string'},
  {'name': 'purchasedItemCount', 'type': 'number'},
  {'name': 'rewardsReceiptItemList', 'type': 'string'},
  {'name': 'rewardsReceiptStatus', 'type': 'string'},
  {'name': 'totalSpent', 'type': 'number'},
  {'name': 'userId', 'type': 'string'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [31]:
pd.io.json.build_table_schema(df3)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': '_id', 'type': 'string'},
  {'name': 'active', 'type': 'boolean'},
  {'name': 'createdDate', 'type': 'string'},
  {'name': 'lastLogin', 'type': 'string'},
  {'name': 'role', 'type': 'string'},
  {'name': 'signUpSource', 'type': 'string'},
  {'name': 'state', 'type': 'string'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [32]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
barcode,1167.0,5.111115e+11,287449.749081,5.111110e+11,5.111112e+11,5.111114e+11,5.111117e+11,5.111119e+11
topBrand,555.0,5.585586e-02,0.229850,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

In [33]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
bonusPointsEarned,544.0,238.893382,299.091731,5.0,5.0,45.0,500.00,750.00
pointsEarned,609.0,585.962890,1357.166947,0.0,5.0,150.0,750.00,10199.80
purchasedItemCount,635.0,14.757480,61.134240,0.0,1.0,2.0,5.00,689.00
totalSpent,684.0,77.796857,347.110349,0.0,1.0,18.2,34.96,4721.95

In [34]:
df3.describe().T

             count unique                                   top freq
_id            495    212  {'$oid': '54943462e4b07e684157a532'}   20
active         495      2                                  True  494
createdDate    495    212              {'$date': 1418998882381}   20
lastLogin      433    172              {'$date': 1614963143204}   20
role           495      2                              consumer  413
signUpSource   447      2                                 Email  443
state          439      8                                    WI  396

In [35]:
df1.shape

(1167, 8)

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

In [37]:
df1.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [38]:
df1.drop(["brandCode"],axis=1, inplace=True)

# df1

name

In [39]:
df1["name"] = df1["name"].apply(lambda x:x.split("@")[0])

In [40]:
df1['name'].value_counts()

test brand                          428
Health Magazine                       2
Huggies                               2
I CAN'T BELIEVE IT'S NOT BUTTER!      2
Dippin Dots® Cereal                   2
                                   ...
Kraft Cheese                          1
Pepperidge Farm                       1
Honest Tea                            1
Pringles                              1
LIPTON TEA Leaves                     1
Name: name, Length: 729, dtype: int64

_id

In [41]:
df1["_id"]= df1["_id"].apply(lambda x : x['$oid'] )

In [42]:
df1['_id'].value_counts()

601ac115be37ce2ead437551    1
5ffe3a86be37ce7aab2d4fd5    1
55a58727e4b0d0a65b3693cd    1
5f493dabbe37ce64d0ae36bb    1
5f493e72be37ce64d0ae36c1    1
                           ..
5f4802d2be37ce0c83033743    1
5332f760e4b03c9a25efd11a    1
5a8c35dde4b0ccf165fac9e6    1
5f77274bbe37ce6b592e90bc    1
6026d757be37ce6369301468    1
Name: _id, Length: 1167, dtype: int64

cpg

In [43]:
df1.cpg[0]

{'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'}

In [44]:
d = {'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'}

In [45]:
d['$id']['$oid']

'601ac114be37ce2ead437550'

In [46]:
df1["cpg"]= df1["cpg"].apply(lambda d : d['$id']['$oid'] )

In [51]:
df1.drop(['categoryCode'], axis=1, inplace=True)

In [52]:
df1.head()

,_id,barcode,category,cpg,name,topBrand
0,601ac115be37ce2ead437551,511111019862,Baking,601ac114be37ce2ead437550,test brand,0.0
1,601c5460be37ce2ead43755f,511111519928,Beverages,5332f5fbe4b03c9a25efd0ba,Starbucks,0.0
2,601ac142be37ce2ead43755d,511111819905,Baking,601ac142be37ce2ead437559,test brand,0.0
3,601ac142be37ce2ead43755a,511111519874,Baking,601ac142be37ce2ead437559,test brand,0.0
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,5332fa12e4b03c9a25efd1e7,test brand,0.0

# df2¶

In [85]:
df2.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

_id column

In [86]:
df2["_id"]= df2["_id"].apply(lambda x : x['$oid'] )

In [87]:
df2['_id'].value_counts()

5ff1e1eb0a720f0523000575    1
601b48df0a720f05f4000238    1
601c11410a720f05f400028e    1
601c2d630a7214ad280002a7    1
601be7120a720f05f400027a    1
                           ..
60088a670a720f05fa0000e0    1
600788cd0a7214ad8900003a    1
60085bad0a720f05fa00006c    1
60088e670a720f05fa00011d    1
603c4fea0a7217c72c000389    1
Name: _id, Length: 1119, dtype: int64

createDate

In [88]:
df2.createDate.value_counts()

{'$date': 1609687531000}    3
{'$date': 1610144383000}    3
{'$date': 1609687534000}    3
{'$date': 1609879107000}    2
{'$date': 1610390945000}    2
                           ..
{'$date': 1611172607000}    1
{'$date': 1611199166000}    1
{'$date': 1611265514000}    1
{'$date': 1611197966000}    1
{'$date': 1614565354962}    1
Name: createDate, Length: 1107, dtype: int64

In [89]:
df2["createDate"]= df2['createDate'].apply(lambda x : x['$date'] )

In [90]:
df2.createDate.value_counts()

1609687531000    3
1610144383000    3
1609687534000    3
1609879107000    2
1610390945000    2
                ..
1611172607000    1
1611199166000    1
1611265514000    1
1611197966000    1
1614565354962    1
Name: createDate, Length: 1107, dtype: int64

In [91]:
df2['createDate']= pd.to_datetime(df2['createDate'])

In [92]:
pd.to_datetime(df2['createDate'])

0      1970-01-01 00:26:49.687531000
1      1970-01-01 00:26:49.687483000
2      1970-01-01 00:26:49.687537000
3      1970-01-01 00:26:49.687534000
4      1970-01-01 00:26:49.687506000
                    ...
1114   1970-01-01 00:26:54.594147000
1115   1970-01-01 00:26:54.613361873
1116   1970-01-01 00:26:54.607657664
1117   1970-01-01 00:26:54.604048000
1118   1970-01-01 00:26:54.565354962
Name: createDate, Length: 1119, dtype: datetime64[ns]

In [93]:
df2.createDate= pd.to_datetime(df2['createDate'])

dateScanned

In [94]:
df2.drop("dateScanned", axis=1, inplace=True)

finishedDate

In [95]:
df2.finishedDate.value_counts()

{'$date': 1609687534000}    3
{'$date': 1609687531000}    2
{'$date': 1609687532000}    2
{'$date': 1611641366000}    2
{'$date': 1609788557000}    2
                           ..
{'$date': 1610489764000}    1
{'$date': 1610488675000}    1
{'$date': 1610488914000}    1
{'$date': 1610489897000}    1
{'$date': 1614378985000}    1
Name: finishedDate, Length: 553, dtype: int64

In [96]:
df2["finishedDate"]=df2["finishedDate"].apply(lambda x : x['$date'] if type(x) == dict else x)

In [97]:
df2.finishedDate.value_counts()

1.609688e+12    3
1.609688e+12    2
1.609688e+12    2
1.611641e+12    2
1.609789e+12    2
               ..
1.610490e+12    1
1.610489e+12    1
1.610489e+12    1
1.610490e+12    1
1.614379e+12    1
Name: finishedDate, Length: 553, dtype: int64

In [98]:
df2['finishedDate']= pd.to_datetime(df2['finishedDate'])

In [99]:
df2.finishedDate= pd.to_datetime(df2['finishedDate'])

##

In [100]:
df2

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1970-01-01 00:26:49.687531000,1970-01-01 00:26:49.687531,{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1970-01-01 00:26:49.687483000,1970-01-01 00:26:49.687483,{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687537000,NaT,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687534000,1970-01-01 00:26:49.687534,{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687506000,1970-01-01 00:26:49.687511,{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1970-01-01 00:26:54.594147000,NaT,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,1970-01-01 00:26:54.613361873,NaT,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,1970-01-01 00:26:54.607657664,NaT,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1970-01-01 00:26:54.604048000,NaT,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,1970-01-01 00:26:54.565354962,NaT,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

modifyDate

In [101]:
df2.modifyDate.value_counts()

{'$date': 1609687536000}    3
{'$date': 1610144388000}    2
{'$date': 1609855952000}    2
{'$date': 1610387370000}    2
{'$date': 1610390950000}    2
                           ..
{'$date': 1611199209000}    1
{'$date': 1611265576000}    1
{'$date': 1611198000000}    1
{'$date': 1611237536000}    1
{'$date': 1614565354962}    1
Name: modifyDate, Length: 1104, dtype: int64

In [102]:
df2["modifyDate"]= df2["modifyDate"].apply(lambda x : x["$date"] if type(x) == dict else x)

In [103]:
df2.modifyDate.value_counts()

1609687536000    3
1610144388000    2
1609855952000    2
1610387370000    2
1610390950000    2
                ..
1611199209000    1
1611265576000    1
1611198000000    1
1611237536000    1
1614565354962    1
Name: modifyDate, Length: 1104, dtype: int64

In [104]:
df2['modifyDate']= pd.to_datetime(df2['modifyDate'])

In [105]:
df2.modifyDate= pd.to_datetime(df2['modifyDate'])

pointsAwardedDate

In [106]:
df2.pointsAwardedDate.value_counts()

{'$date': 1609687534000}    3
{'$date': 1609687531000}    2
{'$date': 1610144383000}    2
{'$date': 1609788557000}    2
{'$date': 1609879104000}    2
                           ..
{'$date': 1610396873000}    1
{'$date': 1610387361000}    1
{'$date': 1610390942000}    1
{'$date': 1610396865000}    1
{'$date': 1614378985000}    1
Name: pointsAwardedDate, Length: 523, dtype: int64

In [107]:
df2["pointsAwardedDate"]=df2["pointsAwardedDate"].apply(lambda x : x['$date'] if type(x) == dict else x)

In [108]:
df2.pointsAwardedDate.value_counts().astype(int)

1.609688e+12    3
1.609688e+12    2
1.610144e+12    2
1.609789e+12    2
1.609879e+12    2
               ..
1.610397e+12    1
1.610387e+12    1
1.610391e+12    1
1.610397e+12    1
1.614379e+12    1
Name: pointsAwardedDate, Length: 523, dtype: int64

In [109]:
df2['pointsAwardedDate']= pd.to_datetime(df2['pointsAwardedDate'])

In [110]:
df2.pointsAwardedDate= pd.to_datetime(df2['pointsAwardedDate'])

In [111]:
df2.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1970-01-01 00:26:49.687531,1970-01-01 00:26:49.687531,1970-01-01 00:26:49.687536,1970-01-01 00:26:49.687531,500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1970-01-01 00:26:49.687483,1970-01-01 00:26:49.687483,1970-01-01 00:26:49.687488,1970-01-01 00:26:49.687483,150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687537,NaT,1970-01-01 00:26:49.687542,NaT,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687534,1970-01-01 00:26:49.687534,1970-01-01 00:26:49.687539,1970-01-01 00:26:49.687534,5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687506,1970-01-01 00:26:49.687511,1970-01-01 00:26:49.687511,1970-01-01 00:26:49.687506,5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [112]:
df2.drop("userId", axis=1, inplace=True)

purchaseDate

In [113]:
df2.purchaseDate.value_counts()

{'$date': 1597622400000}    40
{'$date': 1612483200000}    28
{'$date': 1611792000000}    24
{'$date': 1610409600000}    23
{'$date': 1611100800000}    18
                            ..
{'$date': 1609882145000}     1
{'$date': 1610057960000}     1
{'$date': 1612796530000}     1
{'$date': 1610057940000}     1
{'$date': 1614124800000}     1
Name: purchaseDate, Length: 358, dtype: int64

In [114]:
df2["purchaseDate"]=df2["purchaseDate"].apply(lambda x : x["$date"] if type(x) == dict else x)

In [115]:
df2.purchaseDate.value_counts()

1.597622e+12    40
1.612483e+12    28
1.611792e+12    24
1.610410e+12    23
1.611101e+12    18
                ..
1.609882e+12     1
1.610058e+12     1
1.612797e+12     1
1.610058e+12     1
1.614125e+12     1
Name: purchaseDate, Length: 358, dtype: int64

In [117]:
df2['purchaseDate']= pd.to_datetime(df2['purchaseDate'])

In [120]:
df2.purchaseDate= pd.to_datetime(df2['purchaseDate'])

rewardsReceiptItemList

In [121]:
df2.rewardsReceiptItemList.value_counts()

[{'description': 'flipbelt level terrain waist pouch, neon yellow, large/32-35', 'discountedItemPrice': '28.57', 'finalPrice': '28.57', 'itemPrice': '28.57', 'originalReceiptItemText': 'flipbelt level terrain waist pouch, neon yellow, large/32-35', 'partnerItemId': '0', 'priceAfterCoupon': '28.57', 'quantityPurchased': 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            50
[{'barcode': 'B076FJ92M4', 'description': 'mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd motor also for spices, herbs, nuts,grains, white', 'discountedItemPrice': '22.97', 'finalPrice': '22.97', 'itemPrice': '22.97', 'originalReceiptItemText': 'mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd motor also for spices, herbs, nuts,grains, white', 'partnerItemId': '0', 'priceAfterCoupon': '22.97', 'quantityPurchased': 1}, {'barcode': 'B07BRRLSVC', 'description': 'thindust summer face mask - sun protection neck gaiter for outdooractivities', 'discountedItemPrice': '11.99', 'finalPrice': '11.99', 'itemPrice': '11.99', 'originalReceiptItemText': 'thindust summer face mask - sun protection neck gaiter for outdooractivities', 'partnerItemId': '1', 'priceAfterCoupon': '11.99', 'quantityPurchased': 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        40
[{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '1', 'itemPrice': '1', 'partnerItemId': '1', 'quantityPurchased': 1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       31
[{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '1', 'itemPrice': '1', 'partnerItemId': '1', 'quantityPurchased': 1}, {'barcode': '1234', 'needsFetchReview': True, 'needsFetchReviewReason': 'USER_FLAGGED', 'partnerItemId': '2', 'preventTargetGapPoints': True, 'userFlaggedBarcode': '1234', 'userFlaggedDescription': '', 'userFlaggedNewItem': True}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                24
[{'barcode': '036000320893', 'description': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'discountedItemPrice': '21.00', 'finalPrice': '21.00', 'itemNumber': '4023', 'itemPrice': '21.00', 'originalReceiptItemText': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'partnerItemId': '0', 'pointsEarned': '210.0', 'pointsPayerId': '550b2565e4b001d5e9e4146f', 'quantityPurchased': 1, 'rewardsGroup': 'HUGGIES ONE AND DONE SIMPLY CLEAN BABY WIPES 200 COUNT OR LARGER', 'rewardsProductPartnerId': '550b2565e4b001d5e9e4146f'}, {'barcode': '036000320893', 'description': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'discountedItemPrice': '21.00', 'finalPrice': '21.00', 'itemNumber': '4023', 'itemPrice': '21.00', 'originalReceiptItemText': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'partnerItemId': '1', 'pointsEarned': '210.0', 'pointsPayerId': '550b2565e4b001d5e9e4146f', 'quantityPurchased': 1, 'rewardsGroup': 'HUGGIES ONE AND DONE SIMPLY CLEAN BABY WIPES 200 COUNT OR LARGER', 'rewardsProductPartnerId': '550b2565e4b001d5e9e4146f'}, {'barcode': '036000320893', 'description': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'discountedItemPrice': '21.00', 'finalPrice': '21.00', 'itemNumber': '4023', 'itemPrice': '21.00', 'originalReceiptItemText': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'partnerItemId': '2', 'pointsEarned': '210.0', 'pointsPayerId': '550b2565e4b001d5e9e4146f', 'quantityPurchased': 1, 'rewardsGroup': 'HUGGIES ONE AND DONE SIMPLY CLEAN BABY WIPES 200 COUNT OR LARGER', 'rewardsProductPartnerId': '550b2565e4b001d5e9e4146f'}, {'barcode': '036000320893', 'description': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'discountedItemPrice': '21.00', 'finalPrice': '21.00', 'itemNumber': '4023', 'itemPrice': '21.00', 'originalReceiptItemText': 'HUGGIES SIMPLY CLEAN PREMOISTENED WIPE FRAGRANCE FREE BAG 216 COUNT', 'partnerItemId': '3', 'pointsEarned': '210.0', 'pointsPayerId': '550b2565e4b001d5e9e4146f', 'quantityPurchased': 1, 'rewardsGroup': 'HUGGIES ONE AND DONE SIMPLY CLEAN BABY WIPES 200 COUNT OR LARGER', 'rewardsProductPartnerId': '550b2565e4b001d5e9e4146f'}]    22
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
[{'barcode': '070085035006', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '1', 'quantityPurchased': 1, 'rewardsGroup': 'TOTINO'S PIZZA ROLLS 15 COUNT - 40 COUNT', 'rewardsProductPartnerId': '5332f5f3e4b03c9a25efd0ae'}, {'barcode': '070085035006', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '2', 'quantityPurchased': 1, 'rewardsGroup': 'TOTINO'S PIZZA ROLLS 15 COUNT - 40 COUNT', 'rewardsProductPartnerId': '5332f5f3e4b03c9a25efd0ae'}, {'barcode': '070085035006', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '3', 'quantityPurchased': 1, 'rewardsGroup': 'TOTINO'S PIZZA ROLLS 15 COUNT - 40 COUNT', 'rewardsProductPartnerId': '5332f5f3e4b03c9a25efd0ae'}, {'barcode': '070085035006', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '4', 'quantityPurchased': 1, 'rewardsGroup': 'TOTINO'S PIZZA ROLLS 15 COUNT - 40 COUNT', 'rewardsProductPartnerId': '5332f5f3e4b03c9a25efd0ae'}, {'barcode': '070085035006', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '5', 'quantityPurchased': 1, 'rewardsGroup': 'TOTINO'S PIZZA ROLLS 15 COUNT - 40 COUNT', 'rewardsProductPartnerId': '5332f5f3e4b03c9a25efd0ae'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
[{'barcode': '021000007660', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '1', 'quantityPurchased': 1, 'rewardsGroup': 'SARGENTO STRING OR STICK CHEESE', 'rewardsProductPartnerId': '5e7cf838f221c312e698a628'}, {'barcode': '021000007660', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '2', 'quantityPurchased': 1, 'rewardsGroup': 'SARGENTO STRING OR STICK CHEESE', 'rewardsProductPartnerId': '5e7cf838f221c312e698a628'}, {'barcode': '021000007660', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '3', 'quantityPurchased': 1, 'rewardsGroup': 'SARGENTO STRING OR STICK CHEESE', 'rewardsProductPartnerId': '5e7cf838f221c312e698a628'}, {'barcode': '021000007660', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '4', 'quantityPurchased': 1, 'rewardsGroup': 'SARGENTO STRING OR STICK CHEESE', 'rewardsProductPartnerId': '5e7cf838f221c312e698a628'}, {'barcode': '021000007660', 'competitiveProduct': True, 'finalPrice': '9.99', 'itemPrice': '9.99', 'partnerItemId': '5', 'quantityPurchased': 1, 'rewardsGroup': 'SARGENTO STRING OR STICK CHEESE', 'rewardsProductPartnerId': '5e7cf838f221c312e698a628'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1

In [122]:
df2.drop(["rewardsReceiptItemList"], axis= 1, inplace= True)

In [123]:
df2.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1970-01-01 00:26:49.687531,1970-01-01 00:26:49.687531,1970-01-01 00:26:49.687536,1970-01-01 00:26:49.687531,500.0,1970-01-01 00:26:49.632000,5.0,FINISHED,26.0
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1970-01-01 00:26:49.687483,1970-01-01 00:26:49.687483,1970-01-01 00:26:49.687488,1970-01-01 00:26:49.687483,150.0,1970-01-01 00:26:49.601083,2.0,FINISHED,11.0
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687537,NaT,1970-01-01 00:26:49.687542,NaT,5.0,1970-01-01 00:26:49.632000,1.0,REJECTED,10.0
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687534,1970-01-01 00:26:49.687534,1970-01-01 00:26:49.687539,1970-01-01 00:26:49.687534,5.0,1970-01-01 00:26:49.632000,4.0,FINISHED,28.0
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687506,1970-01-01 00:26:49.687511,1970-01-01 00:26:49.687511,1970-01-01 00:26:49.687506,5.0,1970-01-01 00:26:49.601106,2.0,FINISHED,1.0

# df3¶

In [124]:
df3.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [125]:
df3.tail()

,_id,active,createdDate,lastLogin,role,signUpSource,state
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [126]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

id

In [127]:
df3["_id"].value_counts()

{'$oid': '54943462e4b07e684157a532'}    20
{'$oid': '5fc961c3b8cfca11a077dd33'}    20
{'$oid': '5ff5d15aeb7c7d12096d91a2'}    18
{'$oid': '5fa41775898c7a11a6bcef3e'}    18
{'$oid': '59c124bae4b0299e55b0f330'}    18
                                        ..
{'$oid': '6004a965e257124ec6b9a39f'}     1
{'$oid': '600746fd6e64691717e8cfb5'}     1
{'$oid': '60074b996e64691717e8f11a'}     1
{'$oid': '60074246325c8a12289e22a0'}     1
{'$oid': '60088e5d633aab121bb8e5cf'}     1
Name: _id, Length: 212, dtype: int64

In [128]:
df3["_id"]= df3["_id"].apply(lambda x : x["$oid"] if type(x) == dict else x)

In [129]:
df3["_id"].value_counts()

54943462e4b07e684157a532    20
5fc961c3b8cfca11a077dd33    20
5ff5d15aeb7c7d12096d91a2    18
5fa41775898c7a11a6bcef3e    18
59c124bae4b0299e55b0f330    18
                            ..
6004a965e257124ec6b9a39f     1
600746fd6e64691717e8cfb5     1
60074b996e64691717e8f11a     1
60074246325c8a12289e22a0     1
60088e5d633aab121bb8e5cf     1
Name: _id, Length: 212, dtype: int64

createdDate

In [130]:
df3["createdDate"].value_counts()

{'$date': 1418998882381}    20
{'$date': 1607033283936}    20
{'$date': 1609945434680}    18
{'$date': 1604589429396}    18
{'$date': 1505830074302}    18
                            ..
{'$date': 1610918245327}     1
{'$date': 1611089661274}     1
{'$date': 1611090841809}     1
{'$date': 1611088455284}     1
{'$date': 1611173469989}     1
Name: createdDate, Length: 212, dtype: int64

In [131]:
df3["createdDate"].apply(lambda x : x["$date"] if type(x)== dict else x)

0      1609687444800
1      1609687444800
2      1609687444800
3      1609687530554
4      1609687444800
           ...
490    1418998882381
491    1418998882381
492    1418998882381
493    1418998882381
494    1418998882381
Name: createdDate, Length: 495, dtype: int64

In [132]:
df3["createdDate"]= df3["createdDate"].apply(lambda x : x["$date"] if type(x)== dict else x)

In [133]:
df3["createdDate"].value_counts()

1418998882381    20
1607033283936    20
1609945434680    18
1604589429396    18
1505830074302    18
                 ..
1610918245327     1
1611089661274     1
1611090841809     1
1611088455284     1
1611173469989     1
Name: createdDate, Length: 212, dtype: int64

In [134]:
df3['createdDate']= pd.to_datetime(df3['createdDate'])

In [135]:
df3.createdDate= pd.to_datetime(df3['createdDate'])

lastLogin

In [136]:
df3["lastLogin"].value_counts()

{'$date': 1614963143204}    20
{'$date': 1614379156799}    20
{'$date': 1609945690009}    18
{'$date': 1614873722026}    18
{'$date': 1612802578117}    18
                            ..
{'$date': 1610667194903}     1
{'$date': 1610557170567}     1
{'$date': 1610557119463}     1
{'$date': 1610566773163}     1
{'$date': 1611160614993}     1
Name: lastLogin, Length: 172, dtype: int64

In [137]:
df3["lastLogin"]= df3["lastLogin"].apply(lambda x : x["$date"] if type(x)== dict else x)

In [138]:
df3["lastLogin"].value_counts()

1.614963e+12    20
1.614379e+12    20
1.609946e+12    18
1.614874e+12    18
1.612803e+12    18
                ..
1.610667e+12     1
1.610557e+12     1
1.610557e+12     1
1.610567e+12     1
1.611161e+12     1
Name: lastLogin, Length: 172, dtype: int64

In [139]:
df3['lastLogin']= pd.to_datetime(df3['lastLogin'])

In [141]:
df3.lastLogin= pd.to_datetime(df3['lastLogin'])

role

In [142]:
df3["role"]

0         consumer
1         consumer
2         consumer
3         consumer
4         consumer
          ...
490    fetch-staff
491    fetch-staff
492    fetch-staff
493    fetch-staff
494    fetch-staff
Name: role, Length: 495, dtype: object

In [143]:
df3.role.value_counts()

consumer       413
fetch-staff     82
Name: role, dtype: int64

In [144]:
df3

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,1970-01-01 00:26:49.687444800,1970-01-01 00:26:49.687537858,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1970-01-01 00:26:49.687444800,1970-01-01 00:26:49.687537858,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1970-01-01 00:26:49.687444800,1970-01-01 00:26:49.687537858,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1970-01-01 00:26:49.687530554,1970-01-01 00:26:49.687530597,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1970-01-01 00:26:49.687444800,1970-01-01 00:26:49.687537858,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,1970-01-01 00:23:38.998882381,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,1970-01-01 00:23:38.998882381,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,1970-01-01 00:23:38.998882381,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,1970-01-01 00:23:38.998882381,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,1970-01-01 00:23:38.998882381,1970-01-01 00:26:54.963143204,fetch-staff,NaN,NaN

In [145]:
df1

,_id,barcode,category,cpg,name,topBrand
0,601ac115be37ce2ead437551,511111019862,Baking,601ac114be37ce2ead437550,test brand,0.0
1,601c5460be37ce2ead43755f,511111519928,Beverages,5332f5fbe4b03c9a25efd0ba,Starbucks,0.0
2,601ac142be37ce2ead43755d,511111819905,Baking,601ac142be37ce2ead437559,test brand,0.0
3,601ac142be37ce2ead43755a,511111519874,Baking,601ac142be37ce2ead437559,test brand,0.0
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,5332fa12e4b03c9a25efd1e7,test brand,0.0
...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,5f77274dbe37ce6b592e90bf,test brand,NaN
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,53e10d6368abd3c7065097cc,Dippin Dots® Cereal,NaN
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,5332fa12e4b03c9a25efd1e7,test brand,NaN
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,5332f5f6e4b03c9a25efd0b4,LIPTON TEA Leaves,0.0
1166,6026d757be37ce6369301468,511111019930,Baking,6026d757be37ce6369301467,test brand,0.0

In [146]:
df2

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1970-01-01 00:26:49.687531000,1970-01-01 00:26:49.687531,1970-01-01 00:26:49.687536000,1970-01-01 00:26:49.687531,500.0,1970-01-01 00:26:49.632000,5.0,FINISHED,26.00
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1970-01-01 00:26:49.687483000,1970-01-01 00:26:49.687483,1970-01-01 00:26:49.687488000,1970-01-01 00:26:49.687483,150.0,1970-01-01 00:26:49.601083,2.0,FINISHED,11.00
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687537000,NaT,1970-01-01 00:26:49.687542000,NaT,5.0,1970-01-01 00:26:49.632000,1.0,REJECTED,10.00
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687534000,1970-01-01 00:26:49.687534,1970-01-01 00:26:49.687539000,1970-01-01 00:26:49.687534,5.0,1970-01-01 00:26:49.632000,4.0,FINISHED,28.00
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1970-01-01 00:26:49.687506000,1970-01-01 00:26:49.687511,1970-01-01 00:26:49.687511000,1970-01-01 00:26:49.687506,5.0,1970-01-01 00:26:49.601106,2.0,FINISHED,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1970-01-01 00:26:54.594147000,NaT,1970-01-01 00:26:54.594148000,NaT,25.0,1970-01-01 00:26:37.622400,2.0,REJECTED,34.96
1115,603d0b710a720fde1000042a,NaN,NaN,1970-01-01 00:26:54.613361873,NaT,1970-01-01 00:26:54.613361873,NaT,NaN,NaT,NaN,SUBMITTED,NaN
1116,603cf5290a720fde10000413,NaN,NaN,1970-01-01 00:26:54.607657664,NaT,1970-01-01 00:26:54.607657664,NaT,NaN,NaT,NaN,SUBMITTED,NaN
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1970-01-01 00:26:54.604048000,NaT,1970-01-01 00:26:54.604049000,NaT,25.0,1970-01-01 00:26:37.622400,2.0,REJECTED,34.96
1118,603c4fea0a7217c72c000389,NaN,NaN,1970-01-01 00:26:54.565354962,NaT,1970-01-01 00:26:54.565354962,NaT,NaN,NaT,NaN,SUBMITTED,NaN

In [147]:
df1.to_csv("brands.csv", index=False)

In [148]:
df2.to_csv("receipts.csv", index=False)

In [149]:
df3.to_csv("users.csv", index=False)